# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs / data
logs/
data/
results/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/
